{% extends "base.html" %}

{% block title %}
  {% if object %}
    Edytuj zawartość "{{ object.title }}"
  {% else %}
    Dodaj nową zawartość
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if object %}
      Edytuj zawartość "{{ object.title }}"
    {% else %}
      Dodaj nową zawartość
    {% endif %}
  </h1>
  <div class="module">
    <h2>Course info</h2>
    <form method="post" enctype="multipart/form-data">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Zapisz zawartość"></p>
    </form>
  </div>
{% endblock %}
